@import "tailwindcss";

/* index.css */

.bg-zebra {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='240' height='240' viewBox='0 0 240 240'><defs><linearGradient id='g1' x1='0' y1='0' x2='1' y2='1'><stop offset='0' stop-color='%23eaeaea' stop-opacity='.75'/><stop offset='1' stop-color='%23f5f5f5' stop-opacity='.75'/></linearGradient><linearGradient id='g2' x1='1' y1='0' x2='0' y2='1'><stop offset='0' stop-color='%23ededed' stop-opacity='.7'/><stop offset='1' stop-color='%23f7f7f7' stop-opacity='.7'/></linearGradient><linearGradient id='g3' x1='0' y1='1' x2='1' y2='0'><stop offset='0' stop-color='%23e9e9e9' stop-opacity='.6'/><stop offset='1' stop-color='%23f6f6f6' stop-opacity='.6'/></linearGradient></defs><path d='M-30 30 C 30 10, 90 20, 150 30 S 270 50, 300 30 L 300 70 C 240 90, 180 80, 120 70 S 0 50, -30 70 Z' fill='url(%23g1)'/><path d='M-30 110 C 40 85, 110 95, 180 110 S 300 140, 300 120 L 300 165 C 230 185, 160 175, 90 165 S 0 140, -30 160 Z' fill='url(%23g2)'/><path d='M-30 190 C 20 175, 80 180, 140 190 S 280 210, 300 200 L 300 220 C 240 235, 180 230, 120 220 S 0 205, -30 215 Z' fill='url(%23g3)'/><path d='M-20 -10 C 30 0, 80 10, 130 15 S 260 30, 280 20 L 280 45 C 230 55, 180 48, 130 40 S 0 20, -20 30 Z' fill='url(%23g2)' opacity='.6'/><path d='M-40 240 C 10 220, 70 215, 130 210 S 270 200, 300 190 L 300 210 C 250 225, 190 230, 130 235 S 0 245, -40 255 Z' fill='url(%23g1)' opacity='.55'/></svg>");
  background-repeat: repeat;
  background-size: 240px 240px;
}

/* Light theme only */
:root {
  --color-background: #f6efe6;
  --color-card: #fbf7f1;
  --color-primary: #203a47;
}

html, body, #root {
  height: 100%;
  background: var(--color-background);
  color: var(--color-primary);
}
